.landing-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.landing-page__img {
    opacity: 0.2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.material-symbols-outlined {
    font-size: 50px;
}

.landing-page__content {
    position: relative;
}