h1 {
    font-family: 'Bree Serif', serif;
    font-size: 100px;
    margin: 150px 0px;
}

h2 {
    font-family: 'Arvo', serif;
    font-size: 70px;
    margin: 150px 0px;
}

h3 {
    font-family: 'Arvo', serif;
    font-size: 50px;
    margin: 150px 0px;
}

h4 {
    font-family: 'Arvo', serif;
    font-size: 35px;
    margin: 150px 0px;
}

p {
    font-size: 25px;
    margin: 100px 0px;
}

a {
    text-decoration: none;
    color: #006BB6;
}

a:hover{
    color: #FFC72C;
}